<!DOCTYPE html>
<html lang="en">
<%- include('../partials/headContent.ejs') %>

<head>
    <link rel="css/project.css">
    </link>
</head>

<body>

    <div id="topBar"></div>
    <canvas id="canvas"></canvas>

</body>

<script src="js/canvas.js"></script>
<script src="js/project/control.js"></script>

<script src="js/project/settings.js"></script>

<script src="js/project/shapes.js"></script>

<script src="js/project/main.js"></script>

</html>